:root{
    --primary-color:#2ECC71;
    --secondary-color:#3498DB;
    --background-color:#F8F9FA;
    --primary-text-color:#333333;
    --secondary-text-color:#7F8C8D;
    --accent-color:#F1C40F;
    --primary-font: 'Tajawal', sans-serif;
}
*{
    font-family: var(--primary-font);
}
body{
    font-family: var(--primary-font);
    transition: all 0.3ms;
    
}

.logo{
    width: 130.859px;
    height: 26.563px;
    
}

@media screen and (max-width: 600px){
    .logo{
        /* text-align: center; */
    }
    .navbar-brand{
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .logo{
        margin: auto 250px;
    }
}
/*
@media screen and (min-width: 1025px) {
    .logo{
        width: 190px;
        height: 40px;
    }
} */

/* menu btn */ 
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    border: none !important;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }